# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
*.wav
!src/app/referencia_peru.wav
!resp_7c862091-4297-4415-9c73-925288083f5d.wav
